 @font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/FontAwesome.otf') format('otf');
    src: url('../fonts/IRANSansWeb.eot') format('eot'),
        url('../fonts/IRANSansWeb.woff2') format('woff2'),
        url('../fonts/IRANSansWeb.woff') format('woff'),
        url('../fonts/IRANSansWeb.ttf') format('ttf');
    /* font-weight: normal;
    font-style: normal;
    font-display: swap; */
} 

